apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: StatefulSet
      name: hytale-server
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/startupProbe
        value:
          exec:
            command:
              - /usr/local/bin/hytale-healthcheck
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 60
      - op: add
        path: /spec/template/spec/containers/0/readinessProbe
        value:
          exec:
            command:
              - /usr/local/bin/hytale-healthcheck
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
